body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(226, 226, 226);
   color:rgb(0, 0, 0);
   max-width: 950px;
   margin: 0 auto;
   padding: 16px;

   background-image: url(../img/pattern_02.png);
   background-repeat: repeat;
}

.nav_bar {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.theme_button {
   float: right;
   display: inline;
}
.nav_button {
   float: left;
   display: inline;
}

button {
   background-color: rgb(202, 202, 202);
   border: none;
   color: rgb(0, 0, 0);
   padding: 8px 16px;
   text-align: center;
   display: inline-block;
   font-size: 14px;
   transition-duration: 0.1s;
 }
 button:hover {
   background-color: rgb(168, 168, 168);
 }

.wip {
   color:brown
}

img {
   max-width:100%;height:auto;
}

.bindings {
   margin:0 auto;
   max-width:950px;
   background-color: rgb(174, 194, 206);
   color:rgb(0, 87, 138);
   line-height: 1.2;
   border-left-style:solid;
   padding:16px;
}

.back {
   color:rgb(66, 66, 66)
}

h1 {
   margin:0 auto;
   max-width:950px;
   color:rgb(0, 0, 0)
}

p {
   text-indent: 50px;
}

.tldr {
   margin:0 auto;
   max-width:950px;
   background-color: rgb(187, 187, 187);
   color:rgb(58, 58, 58);
   line-height: 1.2;
   border-left-style: solid;
   padding: 16px;
}

th,td {
   padding: 8px;
   background-color: rgb(59, 59, 59);
}

a:link {
   color:rgb(77, 155, 132);
}
a:visited{
   color:rgb(12, 134, 134);
}