* {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #333;
    color: white;
    padding: 0rem;
    padding-top: 1rem;
}
h1 {
    text-align: center;
    font-size: x-large;
}
.info-text {
    padding: 1rem;
    text-align: center;
}
.info-text p {
    margin-bottom: .5rem;
}
.subtitle {
    margin-bottom: 1rem;
}
a, a:visited {
    color: rgb(170, 255, 251);
    text-decoration: none;
    margin: 0px 10px;
}
a:hover {
    text-decoration: underline;
}


.item {
    display: flex;
    border: 1px solid #777;
    padding: .5rem .75rem;
    border-radius: .75rem;
    gap: .75rem;
    margin-bottom: .75rem;
    position: relative;
}
.id, .author {
    color: #999;
}
.author {
    flex: 0 0 8rem;
}
.id {
    background-color: #333;
    padding: 4px;
    font-size: small;
    position: absolute;
    right: 1.75rem;
    bottom: -.8rem;
}


.list {
    width: 1200px;
}
@media screen and (max-width: 1200px) {
    .list {
      width: calc(100% - 1rem);
    }
}